<% include ../partials/header %>

    <h1>This is the list index page</h1>

    <ul>
    <% lists.forEach((list) => { %>
        <li>
            <a href="/lists/<%= list._id %>">
                <%= list.name %>
            </a>
        </li>
    <% }); %>

    </ul>

    <a href="/lists/new" class="btn btn-lg btn-primary">Add List</a>

<% include ../partials/footer %>
