<% include ../partials/header %>

    <div style="text-align:center">
        <h1>Create a new list</h1>
    </div>

    <div class="new-item-form">
        <form class="form-inline" action="/lists" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="list[name]" placeholder="List name" autofocus>
            </div>

            <% include ../partials/formButtons %>
        </form>
    </div>

<% include ../partials/footer %>