<div class="row">
    <button class="w3-button w3-blue w3-large form-control col-sm-12">Save</button>
</div>
<div class="row">
    <a href="javascript:history.back()" class="w3-button w3-gray w3-large col-sm-12">Cancel</a>
</div>
