<% include ../partials/header %>

    <h1>Please provide the email of your friend to send them an invite</h1>

    <div class="new-item-form">
        <form action="/friends" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="friend[email]" placeholder="email" autofocus>
            </div>

            <div class="form-group">
                <input class="form-control" type="textarea" name="friend[note]" placeholder="Optional note">
            </div>

            <% include ../partials/formButtons %>
        </form>
    </div>

<% include ../partials/footer %>
