<% include ./partials/header %>

    <h1>Forgot Password</h1>

    <form action="/forgot_password" method="POST">
        <div class="row">
            <div class="col-sm-3 form-input-container">
                <input type="text" name="username" placeholder="email" class="full-width" autofocus>
            </div>
            <div class="col-sm-2 text-right form-input-container">
                <button class="full-width">Submit</button>
            </div>
        </div>
    </form>

<% include ./partials/footer %>
