<% include ./partials/header %>

    <h2>Gaming for Good</h2> 

    <a class="btn btn-block btn-primary" href="/developers">Developers</a></li>
    <a class="btn btn-block btn-primary" href="/charities">Charities</a></li>
    <% if (user) { %>
        <a class="btn btn-block btn-primary" href="/users/<%= user._id %>">Account Info</a>
    <% } %>

<% include ./partials/footer %>