<% include ./partials/header %>

    <h2>Gaming for Good</h2> 

    <br>
    <a class="btn btn-block btn-primary" href="/developers">Developers</a></li>
    <a class="btn btn-block btn-primary" href="/charities">Charities</a></li>
    <% if (user) { %>
        <a class="btn btn-block btn-primary" href="/users/<%= user._id %>">Account Info</a>
        <br>
        <div>
            <a href="download/DemoStandAlone021919.zip">Download</a> sample Unity game
        </div>
        <div>
            <a href="download/DemoUnity021919.zip">Download</a> Unity project for sample game
        </div>
    <% } %>

<% include ./partials/footer %>