<% include ./partials/header %>

    <div class="new-item-form">
        <h1>Sign up form</h1>
        <form action="/register" method="POST">
            <div class="container">
                <div>
                    <input type="text" name="user[username]" placeholder="Email" autofocus>
                </div>
                <div>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div>
                    <input type="text" name="user[firstName]" placeholder="First Name (optional)">
                </div>
                <div>
                    <input type="text" name="user[lastName]" placeholder="Last Name (optional)">
                </div>
                <div>
                    <button class="w3-button w3-blue">Submit</button>
                </div>
            </div>
        </form>
    </div>

<% include ./partials/footer %>
