<% include ../partials/header %>

    <h1>This is the developer index page</h1>

    <div class="row">
        <div class="col-lg-6">
            <ul>
            <% developers.forEach((developer) => { %>
                <li>
                    <a href="/developers/<%= developer._id %>">
                        <%= developer.companyName %>
                    </a>
                </li>
            <% }); %>
            </ul>

            <% if (user) { %>
                <a href="/developers/new" class="btn btn-lg btn-primary">Add Developer</a>
            <% } %>
        </div>
    </div>

<% include ../partials/footer %>
