<% include ../partials/header %>

    <div style="text-align:center">
        <h1>New <%= type %></h1>
    </div>

    <div class="new-item-form">
        <form class="form-inline" name="editForm" action="/<%= route %>" method="POST">
            <div class="centered">
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[name]" placeholder="Organization Name">
                </div>
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[phoneNumber]" placeholder="Phone Number">
                </div>
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[address]" placeholder="Address">
                </div>
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[city]" placeholder="City">
                </div>
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[state]" placeholder="State">
                </div>
                <div class="row">
                    <input class="col-sm-12" type="text" name="company[zipcode]" placeholder="Zipcode">
                </div>
                <% customContent.forEach((content) => { %>
                    <div class="row">
                        <input class="col-sm-12" type="text" name="company[<%= content.name %>]" placeholder="<%= content.label %>">
                    </div>
                <% }); %>

                <% include ../partials/formButtons %>
            </div>
        </form>
    </div>

<% include ../partials/footer %>